.navbar {
    display: grid;
    justify-content: center;
    grid-template-rows: 90px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.navbar ul {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.navbar ul li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.navbar ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.logout {
    font-size: 16px;
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.logout:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

.header-title {
    font-size: 24px;
    margin: auto;
    margin-bottom: none;
    font-family: 'PT Mono', monospace;
    text-align: center;
    width: 40vw;
    text-decoration: none;
    color: black;
}

.header-top {
    position: absolute;
    top: 10px;
    left: 90%;
    margin-right: 10px;
}

.header-top img {
    height: 60px;
    border-radius: 50%;
}

@media screen and (max-width: 775px) {
    .navbar ul {
        width: 60vw;
    }

    .navbar h3 {
        width: 60vw;
    }

    .header-top {
        left: 85%;
        margin-right: 10px;
    }
}

@media screen and (max-width: 550px) {
    .navbar ul {
        width: 90vw;
    }

    .navbar h3 {
        width: 90vw;
    }
}

@media screen and (max-width: 480px) {
    .header-top {
        left: 83%;
        margin-right: 10px;
    }

    .header-top img {
        height: 50px;
        border-radius: 50%;
    }
}